<ActionBar class="page action-bar">
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left"></ActionItem>
    <StackLayout>
        <Image src="res://logo" width="150" height="40"></Image>
    </StackLayout>
</ActionBar>

<GridLayout class="page page-content">
    <GridLayout class="keyboard" columns="*, *, *, *" rows="auto, auto, *, *, *, *, *" >
<!--        <Label class="result" text="{{ result }}" colSpan="4"></Label>-->
        <Label class="input" text="{{ operation }}" row="1" colSpan="4"></Label>

        <Button (tap)="append('1')" row="2" col="0" text="1"></Button>
        <Button (tap)="append('2')" row="2" col="1" text="2"></Button>
        <Button (tap)="append('3')" row="2" col="2" text="3"></Button>
        <Button (tap)="append('A')" row="2" col="3" text="A"></Button>

        <Button (tap)="append('4')" row="3" col="0" text="4"></Button>
        <Button (tap)="append('5')" row="3" col="1" text="5"></Button>
        <Button (tap)="append('6')" row="3" col="2" text="6"></Button>
        <Button (tap)="append('B')" row="3" col="3" text="B"></Button>

        <Button (tap)="append('7')" row="4" col="0" text="7"></Button>
        <Button (tap)="append('8')" row="4" col="1" text="8"></Button>
        <Button (tap)="append('9')" row="4" col="2" text="9"></Button>
        <Button (tap)="append('C')" row="4" col="3" text="C"></Button>

        <Button (tap)="append('*')" row="5" col="0" text="*"></Button>
        <Button (tap)="append('0')" row="5" col="1" text="0"></Button>
        <Button (tap)="append('#')" row="5" col="2" text="#"></Button>
        <Button (tap)="append('D')" row="5" col="3" text="D"></Button>

        <Button class="correct" (tap)="evaluate()" row="6" col="0" colSpan="2" text="Corrigir"></Button>
        <Button class="send" (tap)="evaluate()" row="6" col="2" colSpan="2" text="Enviar"></Button>
    </GridLayout>
</GridLayout>
