.page {
	background-color: #2a2a32;

	.keyboard {
		.input {
			background-color: #F8F8F8;
			font-size: 36px;
			//height: 248px;
			color: #212121;
			margin: 10px;
			padding: 5px;
			height: 240px;
			border-radius: 15%;
		}

		Button {
			background-color: #F8F8F8;
			border-radius: 15%;
			color: #212121;
			font-size: 24px;
			margin: 10px;
			height: 240px;
		}

		.correct {
			background-color: #ED473F;
			color: #F8F8F8;
		}

		.send {
			background-color: #06CE6A;
			color: #F8F8F8;
		}
	}

}
