<ActionBar class="page action-bar">
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()" ios.position="left"></ActionItem>
    <StackLayout>
        <Image src="res://logo" width="150" height="40"></Image>
    </StackLayout>
</ActionBar>

<GridLayout class="page page-content">
    <ScrollView>
        <StackLayout>
            <CardView radius="40" marginTop="10" marginLeft="10" marginRight="10" ios:shadowRadius="3">
                <StackLayout>
                    <MapView height="200" (mapReady)="onMapReady($event)" (coordinateTapped)="mapTapped($event)"></MapView>
                </StackLayout>
            </CardView>
            <CardView radius="40" marginTop="10" marginLeft="10" marginRight="10" ios:shadowRadius="3">
                <StackLayout class="system-status">
                    <GridLayout rows="*, *, *" columns="*" class="list-group-item-content">
                        <Label row="0" col="0" text="Status de segurança" class="font-weight-bold"></Label>
                        <Label row="0" col="1" horizontalAlignment="right" class="list-group-item-text m-r-5">
                            <!-- set fontFamily="system" to workaround "Service exited due to Segmentation fault: 11" error -->
                            <FormattedString ios:fontFamily="system">
                                <Span text="&#xf041;" class="fa"></Span>
                                <Span text=" Rua José Mantovani, 32"></Span>
                            </FormattedString>
                        </Label>
                        <StackLayout row="1" class="hr-light m-t-5 m-b-5" colSpan="2"></StackLayout>
                        <GridLayout row="2" col="1" columns="*" rows="*, *"  verticalAlignment="center" class="list-group-item-text">
                            <Label row="0" col="0" [text]="systemActive ? '&#xf058;' : '&#xf06a;'" [class]="systemActive ? 'fa status-icon text-center success' : 'fa status-icon text-center danger'"></Label>
                            <Label row="1" col="0" [text]="systemActive ? 'Sucesso! O sistema está ativado e funcionando corretamente.' : 'Ops! O sistema não está ativado.'" textWrap="true" class=" status-message text-center text-danger"></Label>
                        </GridLayout>
                    </GridLayout>
                </StackLayout>
            </CardView>
        </StackLayout>
    </ScrollView>
</GridLayout>

