.page {
	background-color: #2a2a32;

	.action-bar {
		background: transparent;
	}

	.title {
		font-size: 24px;
		margin-left: 40px;
	}

	.page-header {
		.menu {
			background-color: transparent;
			color: #F8F8F8;
			font-size: 24px;
			width: 50px;
			height: 50px;
		}
	}

	.system-status {
		background-color: #34343c;
		padding: 20px;

		Label {
			color: #F8F8F8;
		}

		.status-icon {
			font-size: 64px;
		}

		.status-message {
			font-size: 18px;
			margin-top: 20px;
			margin-bottom: 20px;
		}

		.success {
			color: #06CE6A;
		}

		.danger {
			color: #ED473F;
		}
	}
	 .card-content {
		 background-color: #34343c;
		 padding: 20px;

		 .title {
			 font-size: 24px;
			 margin: 15px;
			 color: #F8F8F8;
		 }

		 .body {
			 font-size: 14px;
			 margin: 15px;
			 color: #F8F8F8;
		 }
	 }
}
